@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;

  &::before {
    content: " ";
    width: 0.5em;
    height: 2rem;
    background-color: #a72b07;
    position: absolute;
    left: 0;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
.container {
  padding: 2em;
  width: 100%;
  height: 100vh;
  background: url("../images/philip-jumbotron.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 2em;
  height: 100vh;

  &.catalogue {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    a {
      text-decoration: none;
      font-size: 1.2rem;
      color: #a72b07;
      text-align: center;
    }
  }

  &.about {
    p {
      line-height: 2.5em;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .btn {
      background-color: #425145;

      p {
        color: white;
      }
    }
  }
}

.btn {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  height: 3.5em;
  display: flex;
  p {
    margin: auto;
    color: #a72b07;
    font-size: 1.2rem !important;
  }
}

.about {
  h1 {
    &::before {
      background-color: #425145;
    }
  }
}

.contact {
  h1 {
    &::before {
      background-color: #7407a7;
    }
  }

  h2 {
    color: #7407a7;
  }

  .btn {
    background-color: #7407a7;
    p {
      color: #ffffff;
    }
  }
}

.location {
  height: 85vh;

  h1 {
    &::before {
      background-color: #3aa707;
    }
  }

  h2 {
    color: #3aa707;
  }

  .map {
    height: 30vh;
  }
}

.jumbo {
  position: absolute;
  z-index: -1;
  width: auto;
  top: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;

  .icons {
    display: flex;
  }
  a {
    font-size: 1.1rem;
    font-weight: 500;
    color: #a72b07;
    text-decoration: none;
  }

  nav {
    display: none;
  }
  .cart {
    position: relative;
    margin-right: 1em;
    span {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -0.75em;
      background-color: red;
      border-radius: 50px;
      color: white;
      width: 1em;
      height: 1em;
      text-align: center;
      font-size: 0.75rem;
      line-height: 1em;
      padding: 0.1em;
    }
  }
  .burger {
    right: 1em;
  }
}

.jumbotron {
  height: 100%;
  display: block;
  grid-template-rows: 0.5fr auto 0.3fr;

  .btn {
    margin-top: 20em;
  }
}

.card {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  justify-content: space-evenly;

  .card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .card-body {
    width: 100%;
    padding: 1.2em 1em;
    display: flex;
    flex-flow: column;
    margin: auto;

    h2 {
      color: #a72b07;
      font-weight: 500;
      font-size: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 0.8rem;
    }
    a {
      text-align: center;
      color: #a72b07;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  &#cushion .card-img {
    background: url("../images/cushion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &#curtains .card-img {
    background: url("../images/curtain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &#sofas .card-img {
    background: url("../images/sofa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

form {
  display: flex;
  flex-flow: column;
  padding: 2em 0 5em;

  label {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  input {
    border: 1px solid #7407a7;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
    border-radius: 5px;
    height: 2.5rem;
    margin: 1em 0 2em;
  }

  textarea {
    border: 1px solid #7407a7;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
    border-radius: 5px;
    margin: 1em 0 2em;
  }

  input[type="submit"] {
    background: #7407a7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    color: white;
    font-size: 1.2rem;
    height: 3.5em;
  }
}

.footer {
  height: 18vh;
  background-color: #a72b07;
  padding: 1.5em 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }

  p {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .social {
    display: flex;
    justify-content: space-evenly;

    img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
