@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;
}

h1::before {
  content: " ";
  width: 0.5em;
  height: 2rem;
  background-color: #a72b07;
  position: absolute;
  left: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 2em;
  width: 100%;
  height: 100vh;
  background: url("../images/philip-jumbotron.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 2em;
  height: 100vh;
}

section.catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

section.catalogue a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #a72b07;
  text-align: center;
}

section.about p {
  line-height: 2.5em;
  font-size: 1.2rem;
  font-weight: 400;
}

section.about .btn {
  background-color: #425145;
}

section.about .btn p {
  color: white;
}

.btn {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn p {
  margin: auto;
  color: #a72b07;
  font-size: 1.2rem !important;
}

.about h1::before {
  background-color: #425145;
}

.contact h1::before {
  background-color: #7407a7;
}

.contact h2 {
  color: #7407a7;
}

.contact .btn {
  background-color: #7407a7;
}

.contact .btn p {
  color: #ffffff;
}

.location {
  height: 85vh;
}

.location h1::before {
  background-color: #3aa707;
}

.location h2 {
  color: #3aa707;
}

.location .map {
  height: 30vh;
}

.jumbo {
  position: absolute;
  z-index: -1;
  width: auto;
  top: 0;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #a72b07;
  text-decoration: none;
}

header nav {
  display: none;
}

header .cart {
  position: relative;
  margin-right: 1em;
}

header .cart span {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.75em;
  background-color: red;
  border-radius: 50px;
  color: white;
  width: 1em;
  height: 1em;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  padding: 0.1em;
}

header .burger {
  right: 1em;
}

.jumbotron {
  height: 100%;
  display: block;
  -ms-grid-rows: 0.5fr auto 0.3fr;
      grid-template-rows: 0.5fr auto 0.3fr;
}

.jumbotron .btn {
  margin-top: 20em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card .card-body {
  width: 100%;
  padding: 1.2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
}

.card .card-body h2 {
  color: #a72b07;
  font-weight: 500;
  font-size: 1rem;
}

.card .card-body p {
  font-weight: 400;
  font-size: 0.8rem;
}

.card .card-body a {
  text-align: center;
  color: #a72b07;
  text-decoration: none;
  font-size: 1rem;
}

.card#cushion .card-img {
  background: url("../images/cushion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card#curtains .card-img {
  background: url("../images/curtain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card#sofas .card-img {
  background: url("../images/sofa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2em 0 5em;
}

form label {
  font-size: 1rem;
  line-height: 1.1rem;
}

form input {
  border: 1px solid #7407a7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
          box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
  border-radius: 5px;
  height: 2.5rem;
  margin: 1em 0 2em;
}

form textarea {
  border: 1px solid #7407a7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
          box-shadow: 0px 1px 10px rgba(116, 7, 167, 0.2);
  border-radius: 5px;
  margin: 1em 0 2em;
}

form input[type="submit"] {
  background: #7407a7;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  color: white;
  font-size: 1.2rem;
  height: 3.5em;
}

.footer {
  height: 18vh;
  background-color: #a72b07;
  padding: 1.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .social img {
  height: 1.5rem;
  width: 1.5rem;
}
/*# sourceMappingURL=main.css.map */