// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

// Import partial files
@import "colors";
@import "effects";
// @import "boot_reset";

* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: $super_white;
}

div {
  padding: 0;
}

p {
  font-size: 1rem;
  color: $black;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  background-color: $scarlet;
  display: flex;
  align-items: center;
  border-radius: 50px;

  p {
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 1.5rem;
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $super_white;

  a.navbar-brand {
    color: $black;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
.header {
  position: relative;
  display: flex;
}

.header__text {
  h1 {
    font-weight: bold;
    color: $dark_blue;
    font-size: 2rem;
  }
  p {
    span {
      color: $cyan;
      // font-weight: bold;
    }
  }
}

.nav-item {
  color: $black;
  font-size: 1rem;
  font-weight: 500;
  &.active {
    font-weight: bold;
  }
}

a.nav-brand {
  color: $black;
}

.nav-link {
  color: $black;
}

.prev {
  background-image: url("/src/img/prev_arrow.svg");
}
.next {
  background-image: url("/src/img/next_arrow.svg");
}
.prev,
.next {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

section {
  height: 100vh;
  position: relative;
  padding: 2em 1em;

  &.jumbotron {
    height: 100vh;
  }
}
.jumbotron {
  background-color: $super_white;
  position: relative;
  overflow: hidden;

  .top {
    height: 65vh;
  }

  .bottom {
    height: 30vh;
  }
}

.jumbotron__msg {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  &--text {
    &--head {
      font-weight: bold;
      font-size: 2.5rem;
      margin-top: 3em;
      padding-bottom: 0.25em;
    }
    &--minor {
      font-size: 1.15rem;
    }
  }
}

.jumbotron__img {
  height: 100%;
  background-color: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.jumbotron__btn {
  height: 4.5em;
  width: 15em;
  margin-bottom: 5em;
}
#lightSlider {
  height: 30vh;
}

.slider {
  display: flex;
  align-items: center;
  margin: auto;

  &#sliderJumbo {
    height: 30vh;
  }
}

.slider__nav {
  width: 15em;
  height: 4.5em;
}

.slider__catalogue {
  display: flex;
  align-items: center;
  height: 10em;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  background-color: $white;
  width: 100%;
}

.stock {
  display: flex;
  flex-flow: column;
  height: 25vh;
  justify-content: space-between;
}

.stock__header {
  font-weight: 500;
  font-size: 1.8rem;
  color: $black;
  line-height: 2em;
}

.stock__slider {
  width: 100%;
  height: 15em;
}

.stock__nav {
  height: 2.5em;
  width: 4.5em;

  &.next {
    background-position-x: right;
  }

  &.prev {
    background-position-x: left;
  }
}

.menu__item {
  width: 65%;
  background-color: $super_white;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.25),
    4px 4px 20px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 0.5em 2em;

  &--row {
    height: 3.5em;

    p {
      height: 100%;
      // width: 75%;
      border-bottom: 1px solid #c4c4c4;
      font-weight: 500;
      font-size: 1.25em;
      color: $dark_blue;

      display: flex;
      align-items: center;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    &:last-of-type {
      p {
        border-bottom: none;
      }
    }

    &.active {
      p {
        color: $scarlet;
        font-weight: bold;
      }
    }
  }
}

.catalogue__menu {
  display: flex;
  margin: auto;
}

.catalogue__items {
  height: 75vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.slider__image {
  height: 12.5em;
  width: 15em;
  background-color: #c4c4c4;
}

.see_all {
  display: flex;
  justify-content: center;
}

.see_all__link {
  font-size: 1rem;
  text-decoration: none;
  color: $scarlet;
  text-align: center;
}

.social_media {
  background-color: $white;
  width: 10em;
  height: 3.5em;
  display: flex;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-flow: column;
  width: 80%;
  label {
    font-size: 1.25rem;
  }

  input,
  textarea {
    border-radius: 10px;
    border: 2px solid $scarlet;
    margin-bottom: 2em;
  }

  input {
    height: 2.75em;
  }

  textarea {
    margin-bottom: 3em;
  }
}

.form__btn {
  width: 10em;
  margin: auto;
}

.info {
  display: flex;
  justify-content: space-between;
}

.tag {
  display: flex;
}

.tag__info {
  display: flex;
}
